.notification-container{
    display:block;
    
}

.notification-tittle{
    text-align: center;
    font-size: 2.5rem;
    color: #212338;
}
.table-container{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    width: 80%;
}

/* Estilos para la tabla */
.table-table {
    width: 100%;
    border-collapse: separate;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 0.7rem;
  }
  
  /* Estilos para el encabezado de la tabla */
  .head-table th {
    background-color: #212338; /* Color de fondo del título de las columnas */
    color: #ffffff; /* Color del texto en el título de las columnas */
    padding: 1%;
    font-size: 1.0rem; /* Tamaño de fuente del título de las columnas */
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    
}
 
  
  /* Estilos para las celdas de la tabla */
  .celdas {
    border: 1px solid #000000; /* Bordes de las celdas */
    padding: 1%;
    font-size: 1rem;
    background-color: #ebebeb;
    
  }


  .celdas:nth-child(1){
    font-size: 150%; /* Tamaño de fuente para las columnas "email" y "mensaje" */
    font-weight: bold;
}