.container-carrusel{
    margin-left: 5%;
    margin-top: 1%;
    max-width: 90%;
    max-height: 100%;
    display:block;
    

}

.imagen-carrusel {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen al ancho del contenedor */
    height: auto; /* Hace que la altura se ajuste automáticamente para mantener la proporción original */

    border-radius: 10px; /* Redondea las esquinas de la imagen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Agrega sombreado a la imagen */
}

.menu-container {
    
    display: flex;
    justify-content: space-around;
    background-color: #344a57;
    height: 50px;
    width: 80%; /* Ancho ajustado */
    margin-top: 1%;
    margin-left: 10%;
    border: 1px solid #000000;
    border-radius: 7px;
    align-items: center;
}

.menu-item {
    color: white;
    text-decoration: none;
    
    width: 50%; /* Ancho fijo para cada opción del menú */
    text-align: center; /* Centra el texto dentro de cada opción */
    transition: font-weight 0.2s ease; /* Agrega transición para suavizar el cambio de negrita */
    position: relative;
}
.menu-item:not(:last-child):after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    height: 80%;
    width: 1px;
    background-color: white;
    transform: translateY(-50%);
}


.menu-item:hover {
    text-decoration: underline;
    font-weight: bold;
    background-color: #212338;
    height: 100%;
    padding-top: 0.6%;
}

.second-image{
    margin-left: 46.5%;
    margin-top: -31%;
    height: 417px;
    
    border-radius: 10px; /* Redondea las esquinas de la imagen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Agrega sombreado a la imagen */
}

.icon-second-image{
    
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: auto;
    margin-right: 5%;
}

.tittle-second-images{
    padding-left: 5%;
    padding-top: 3% ;
    font-size: 2.5rem;
    color: #212338;
}
.tittle-second-image{
    padding-left: 15%;
    padding-top: 15% ;
    font-size: 2.5rem;
    color: #212338;
}
.logo-home {
    position: absolute;
    top: 0%;
    left: 2%;
    max-width: 10%;
    max-height: 8%;
    margin: 1%;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.1s ease;
    
}

.logo-home:active {
    transform: scale(0.8); /* Reduce el tamaño al hacer clic */
}

.quienes-somos{
    padding-left: 10%;
    padding-top: 5% ;
    font-size: 2.5rem;
    color: #212338;
}

.quienes-somos-parrafo{
    padding-left: 5%;
    padding-top: 3% ;
    padding-right: 5%;
    font-size: 1.3rem;
    color: #212338;
    text-align: justify;
}

.card-container {
    display: flex;
    justify-content: center;
    
    margin-top: 5%;
    margin-left: 1%;
    
}


.card { 
    width: 40vw;
    height: 550px;
    overflow: hidden;
    border-radius: 10px;
    margin:1%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-right: 2%;
    padding: 3%;
    transition: transform 0.1s ease;
}
.card-image-service {
    
    opacity: 0.1; /* Ajusta la opacidad de la imagen */
    
    z-index: -1; /* Coloca la imagen detrás del texto */
    
}

.card:hover{
    transform: scale(1.05);
}
.servicios{
    text-align: center;
    
    
    font-size: 2.5rem;
    color: #212338;
    
}

.servicios-contacto{
    text-align: center;
    
    font-size: 2.5rem;
    color: #212338;
    
}

.servicios-lista {
    text-align: center;
    z-index: 1;
    margin-top: 3%;
    font-size: 1.5rem;
    color: #212338;
}

.servicios-lista li {
    margin-bottom: 3%;
    margin-left: 1%;
    display: flex;
    align-items: center;
}
.tick{
    margin-right: 5%;
}
.line{
    
    max-width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 1%;
    border-top: 2px solid #bcbcbc;
}
.facebook{
    list-style-type: none;
    
    text-align: left;
    text-align: center;
    z-index: 1;
    margin-top: 1%;
    font-size: 1.5rem;
    color: #212338;
}
.facebook:hover{
    text-decoration:underline ;
}

.container-form{
    margin-top: 5%;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    
}

.formulario{
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #344a57;
    width: 50%;
    height: 650px;
}
.name-email {
    font-size: 1.5rem; /* larger */
    color:white;
    font-weight: bold;

    margin: 1%;
}

.inputs-form {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #344a57;

    border-radius: 3px;
    text-align: center;
    font-size: 1.2rem;
}
.inputs-form:focus {
    outline: none;
    border-color: #344a57;
    box-shadow: 0 0 5px rgba(52,74,87);

    text-align: center;
}

.inputs-message{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #344a57;

    border-radius: 3px;
    text-align: center;
    font-size: 1.2rem;
    height: 100px;

}

button:hover{
    
    text-decoration: underline;

}

.boton-send {
    background-color: #212338 !important;
    width: 50%;
    height: 40px;
    margin-top: 10%;
    margin-bottom: 20%;
    color: white;
    font-weight: bold;
    margin-left: 25%;
    
    /* Añade bordes */
    border: 1px solid #2c3e4d;
    border-radius: 7px;
}
.send{
    
    max-height: 5%;
    margin-top: -2%;
    margin-left: 5%;


}

.container-alphastore{
    display:flex;
    margin-top: 5%;
    
}


.alphastore-parrafo{
    
    padding-top: 3% ;
    padding-right: 5%;
    font-size: 1.3rem;
    color: #212338;
    text-align: justify;
}
.alphastore-card{
    
    padding-left: 5%;
    padding-right: 5%;
    max-width: 50%;
    margin-left: 5%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.1s ease;
}

.alphastore-image{
    max-width: 50%;
    transition: transform 0.1s ease;
}
.alphastore-image:hover{
    transform: scale(1.15);
}
.alphastore-card:hover{
    transform: scale(1.10);
}
.referencial{
    margin-top: 3%;
    margin-left: 55%;
    font-size: 1.3rem;
    color: #212338;
    text-align: justify;
    font-style:italic;
}
.right-image{
    max-width: 20%;
    margin-left: 80%;
    margin-top: -15%;
    
}

.footer {
    background-color: #2c3e4d;
    color: #ffffff;
    padding: 20px 0;
    margin-top: 5%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer a {
    color: #ffffff;
    text-decoration: none;
}

.button-gopage{
    background-color: #212338;
    width: 25%;
    height: 40px;
    margin-top: 5%;
    color: #ffffff;
    margin-left: 38%;
    font-weight: bold;
    
    /* Añade bordes */
    border: 1px solid #2c3e4d;
    border-radius: 7px;
}

.all-container{
    max-width: 100%;
    max-height: 100%;
    display:contents;
}



/* Estilos adicionales para hacer las tarjetas responsivas */
@media (max-width: 800px) {
    .card-container {
        flex-direction: column;
        
    }
    
    .container-alphastore{
        flex-direction: column;
    }
    .container-carrusel{
        flex-direction: column;
    }
    .all-container{
        flex-direction: column;
    }
}


