.fullContainerGraphicsPage{
    max-width: 100%;
    height: 100%;
    
}
.headContainerGraphics{
    display: flex;
    width: 100%;
    
}
.userLogGraphics{
    margin-left: -2%;
    margin-right: 5%;
    max-width: 40px;
    max-height: auto;
    font-size: 2.5rem;
    
}
.userGraphics{
    display: flex;
    margin-left: 70%;
    padding-left: 1%;
    padding-right: 1%;
    width: 330%;
    margin-top: 30%;
}
.lineStoreGraphics{
    max-width: 90%;
    margin-left: 5%;
    margin-bottom: 1%;
    border-top: 2px solid #bcbcbc;
}
.multiSelect{
    margin-left: 5%;
    width: 19%;
    height: 30%;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    
}
.buttonBack{
    width: 100px;
    height: 30px;
    background-color: #344a57;
    color: white;
    border-radius: 5px;
    display:flex;

}