.fullContainerGraphicsPage{
    max-width: 100%;
    height: 100%;
    
}
.headContainerGraphics{
    display: flex;
    margin-left: 8%;
    font-family: 'Roboto';
    margin-top: 1.5%;
    font-size: 2.0rem;
    
}
.userLogGraphics{
    margin-left: -2%;
    margin-right: 5%;
    max-width: 40px;
    max-height: auto;
    font-size: 2.5rem;
    
}
.userGraphics{
    display: flex;
    margin-left: 70%;
    padding-left: 1%;
    padding-right: 1%;
    width: 330%;
    margin-top: 30%;
}
.lineStoreGraphics{
    max-width: 90%;
    margin-left: 5%;
    margin-bottom: 1%;
    border-top: 2px solid #bcbcbc;
}
.multiSelect{
    margin-left: 3%;
    width: 95%;
    
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    
}
.buttonBack{
    width: 230px;
    height: 50px;
    background-color: #ffffff;
    box-shadow: -1px -1px 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display:flex;

}
.containerRight{
    width: 23%;
    margin-left: 1%;
   
    border-radius: 5px;
    border: 2px solid #e9e9e9;
}

.charts-enter {
    height: 0;
    opacity: 0;
  }
  
  .charts-enter-active {
    height: auto;
    opacity: 1;
    transition: height 300ms, opacity 300ms;
  }
  
  .charts-exit {
    height: auto;
    opacity: 1;
  }
  
  .charts-exit-active {
    height: 0;
    opacity: 0;
    transition: height 300ms, opacity 300ms;
  }

  .calendar-container .rdrDefinedRangesWrapper {
    display: none !important;
  }
  .calendar-container{
    border: 2px solid #acacac;
    border-radius: 5px;
    box-shadow: -1px -1px 10px 5px rgba(0, 0, 0, 0.1);
  }
  .buttonBack:hover{
    background-color: #efefef;
    text-decoration: none;
  }

  .animation{
    transition: 'transform 0.3s ease',
  }