.registration-page {
    width: 100%;
    height: 100vh;
    min-height: 100%;
    background-color: #344a57;
    position: relative;
}

.registration-container {
    width: 90%; /* Ajusta según sea necesario */
    max-width: 400px; /* Ajusta según sea necesario */
    height: auto;
    max-height: 80vh;
    margin: 0 auto;
    border: 1px solid #000000;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    
    display: flex;
    flex-direction: column;
    padding: 20px;
}
button:hover{
    background-color: #212338;
    text-decoration: underline;

}

.boton {
    background-color: #344a57;
    width: 50%;
    height: 40px;
    margin-top: 10%;
    margin-bottom: 20%;
    color: white;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    
    /* Añade bordes */
    border: 1px solid #2c3e4d;
    border-radius: 7px;
}

.logo {
    position: absolute;
    top: 5%;
    left: 5%;
    max-width: 20%;
    max-height: 20%;
    margin: 1%;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.1s ease;
}


.logo:active {
    transform: scale(0.8); /* Reduce el tamaño al hacer clic */
}

.tittle {
    font-weight: bold;
    font-size: 2rem; /* 200% */
    font-family: "Times New Roman", Times, serif;
    margin-top: 5%;
    color: #212338;
}

.tittle-register {
    font-size: 1.5rem; /* larger */
    color: white;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    margin: 1%;
}

.logo-container {
    margin-bottom: 10%;
}

.inputs {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #344a57;
    font-family: "Times New Roman", Times, serif;
    border-radius: 3px;
    text-align: center;
    font-size: 1.2rem;
}
.inputs:focus {
    outline: none;
    border-color: #344a57;
    box-shadow: 0 0 5px rgba(52,74,87);
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.already {
    background-color: rgb(243, 114, 114);
    
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    
    font-size: 1.1rem;
    color: rgb(0, 0, 0);

}

.contactF{
    margin-top: -20%;
    margin-bottom: 10%;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-weight: bold;
}

.contact{
    color: rgb(71, 71, 155);
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    
}
.tick{
    max-width: 5%;
    margin-left: 15%;
}