

.bigContainer{ 
    width: 100%;
    height: 100%;
    padding-bottom: 3%;
}

.headContainer{  
    display: flex;
    margin-left: 8%;
    font-family: 'Roboto';
    margin-top: 1.5%; 
    font-size: 2.0rem;
}
.lineStore{
    margin-top: 1%;
    max-width: 90%;
    margin-left: 5%;
    
    margin-bottom: 1%;
    border-top: 2px solid #bcbcbc;
}

.userLog{
    margin-left: -2%;
    margin-right: 5%;
    max-width: 40px;
    max-height: auto;
    font-size: 2.5rem;
    margin-top: 1%;
}
.user{
    margin-top: -1.1%;
    margin-left: 10%;
    display: flex;
    padding-left: 1%;
    padding-right: 1%;
    width: 330%;
   
}
.user-name{
    margin-top: -20%;
    font-family: 'Roboto';
    font-size: 1.5rem;
    margin-left: 20%;
}
.user:hover{
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}

.options-head{
    
    margin-top: -1%;
    margin-bottom: -1%;
    margin-left: 10%;
    display: flex;
    font-family: 'Roboto';
    
}

.findInput{
    background-color: #e8e7e7;
    padding: 0.5%;
    height: 30px;
    width: 400px;
    font-family: 'Roboto';
    font-size: 1.0rem;
    text-align: center;
}

.findButton{
    background-color: #344a57;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    width: 40%;
    height: 30px;
    font-family: 'Roboto';
    font-size: 1.0rem;
    margin-left: 150%;
    margin-top: -7%;
}

.closeBox{
    background-color: #344a57;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    width: 10%;
    height: 30px;
    font-family: 'Roboto';
    font-size: 1.0rem;
    margin-top: 1.6%;
    margin-left: 29%;
    
}

.cont{
    display: flex;
}
.trolleyContainer{
    background-color: rgb(255, 255, 255);
    margin-top: 1%;
    margin-left: 5%;
    width: 70%;
    display: flex;
    
}


.payButtonContainer {
    position: absolute;
    margin-top: 25%;
    margin-left: -17%;
    
}

.payButton {
    display: flex;
    background-color: #344a57;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 70px;
    font-family: 'Roboto';
    font-size: 1.3rem;
    margin-bottom: 5%;
    text-align: right;
    padding-right: 10px; /* Añadido para separar el texto del ícono */
}


.payButton img {
    height: 100%;
    margin-right: 10px;
}

.payButton span {
    margin-top: auto;
    margin-bottom: auto;
}
.totalContainer{
    font-family: 'Roboto';
    margin-left: 6% ;
    height: 50px;
    width: 18%;
    align-items: center;
    align-content: center;
    text-align: center;
    

}


.cardImage{
    max-width: 26%;
    margin-left: 1%;
    max-height: auto;
}
.Configurate{
    width: 100%;
    border-radius: 50%;
    max-height: auto;
    
}


.dropdown{
    max-width: 6%;
    margin-left: 65%;
    margin-bottom: -1%;
    margin-top: -2%;
    
}
.product{
    max-width: 15%;
    max-height: auto;
    margin-left: -5%;
    margin-right: 3%;
}
.buttonClose{
    max-width: 15%;
    max-height: auto;
    margin-left: -5%;
    margin-right: 20%;
}

.modalLeter{
    font-family: 'Roboto';
    font-size: 1.2rem;
    
}


.gestionProdcutContainer{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-right: #212338;
    width: 30%;
}

.tableStyle {
    font-family: 'Roboto';
    width: 100%;
    border-collapse: separate;
    margin-left: 3%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
}

.headTableModal{
    background-color: #212338;
    color: white;
    text-align: center;
}

.celdasTableModal {
    
    border: 1px solid #ffffff; /* Bordes de las celdas */
    font-size: 1rem;
    background-color: #ebebeb;
    text-align: center;
    
  }

  .tableStyle tbody td:nth-child(1) {
    width: 11%; /* Ajusta el ancho según sea necesario */
}

.tableStyle th {
    cursor: pointer; /* Cambia el cursor al puntero al pasar sobre el encabezado de la tabla */
    pointer-events: auto; /* Habilita los eventos de puntero en el encabezado de la tabla */
}
.tableStyle tbody td:nth-child(3) {
    width: 15%; /* Ajusta el ancho según sea necesario */
}
.tableStyle tbody td:nth-child(4) {
    width: 13%;
    border:  white;
    
}
.lastColumn{
    display: flex;
    
    
}
.hov:hover{
    background-color: transparent;
}

.headTableShoppingCar{
    background-color: #212338;
    color: white;
    font-family: 'Roboto';
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    
}
.shoppingTableStyle{
    border-collapse:separate;
    width: 100%;
    
    
}

.shoppingTableStyle tbody td:nth-child(2){
    width: 50%;
    text-align: center;
    
    
}
.shoppingTableStyle tbody td:nth-child(1){
    width: 10%;
    align-items: center;
    align-content: center;
    text-align: center;
    
}
.shoppingTableStyle tbody td:nth-child(3){
    width: 33%;
    text-align: center;
    
}
.shoppingTableStyle tbody td:nth-child(4){
    width: 5%;
    text-align: center;
    
}
.celdasTableShoppingCar {
    
    border: 1px solid #000000; /* Bordes de las celdas */
    font-size: 1rem;
    background-color: #ebebeb;
    text-align: center;
    border-radius: 10px;
  }
.estandarLetter{
    font-family: 'Roboto';
    
    color: #212338;
}

@media all and (max-width: 762px){   .textButton{font-size: 0px; display: none;}}  


